<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" type="image/x-icon" href="static/img/wd-icon.jpg" sizes="16*16" />
  <title>XXX - Project</title>

  <!-- Custom fonts for this template which adapt to be flask format {url_for}-->
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">


  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}">
  <!-- <link href="css/sb-admin-2.min.css" rel="stylesheet"> -->

  <!-- Image  -->
  <link href="{{ url_for('static', filename='img/loginpic.jpg') }}" type="image/png">
</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

              <div class="col-lg-7 d-none d-lg-block"> <img src="static/img/loginpic.jpg" alt="Trulli" width="500"
                  height="600"></div>

              <div class="col-lg-5">
                <div class="p-5" style="margin-right: 20px;">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome</h1>
                  </div>
                  <form class="user" method="POST">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="username" name="username"
                        aria-describedby="emailHelp" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="password" name="password"
                        placeholder="Password">
                    </div>
                    <div class="form-group">

                    </div>

                    <input class="btn btn-primary btn-user btn-block" type="submit" value="Log In" id="loginbtn"
                      onclick="loginbtn()">

                    <hr>

                  </form>
                  <div class="text-center">
                    <a class="text-secondary" style="font-size: small;cursor: pointer;"  href="forgot-password">Forget the password</a>
                  </div>

                  <!-- <div id="loginfail" style="color: red;"></div> -->
                  <div class="text-center">
                    <a class="h7 mb-2 text-danger" style="font-size: x-small;">{{ status }}</a>
                  </div>

                  <div class="text-center">
                    <a class="h7 mb-2 text-success" style="font-size: small;">{{ status_create_user }}</a>
                  </div>
                  <br>
                  <div class="row">
                    <div class="alert alert-success" id="greenalert" role="alert" style="display:none;">
                      You already create an Account
                    </div>
                  </div>


                  <!-- <div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                  </div> -->
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  </div>


    

    </div>
  </div>

  <script>
    

    </script>
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Functional/FailureRate.js') }}"></script>

  <script src="{{ url_for('static', filename='js/Functional/PageAdjustment.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Functional/LogActivity_Authentication.js') }}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>


</body>

</html>